{% extends "base.html" %}

{% block content %}
    <p>Utworzono: {{object.created}}</p>
    <h1>{{object.title}} ({{object.released.year}})</h1>
    <p>Gatunek: {{object.genre.name}}</p>
    <p>Ocena: {{object.rating}}</p>
    <p>Opis: {{object.description}}</p>
{% for comment in comments %}
    <p>Utworzono: {{comment.created}} Autor: {{comment.author.username}}</p>
    <p>{{comment.text}}</p>
    {% if user.username == comment.author.username %}
    <a href="{% url 'comment-edit' movie_pk=object.id pk=comment.id %}" class="btn btn-primary">Edytuj</a>
    <a href="{% url 'comment-delete' movie_pk=object.id pk=comment.id %}" class="btn btn-danger">Usuń</a>
    {% endif %}
{% endfor %}
<br><br>
<a href="{% url 'comment-add' object.id %}" class="btn btn-primary">Dodaj komentarz</a>
<br><br>
{% if user.is_authenticated %}
    <a href="{% url 'movie-update' object.id %}" class="btn btn-primary">Edytuj film</a>
    <a href="{% url 'movie-delete' object.id %}" class="btn btn-danger">Usuń film</a>
{% endif %}
{% endblock %}
